/* první a poslední 2 znaky na tomto øádku slouží jako prostor pro komentáø nebo vypnutí funkcí. Nìkteré z funkcí jsem v tomto souboru takto vypnul a zaèínají od "záložky - øazení zprava - vypnuto". Pro pøehlednost doporuèuji tento soubor upravovat tøeba v Notepad++ se syntaxí */

/* otevøené panely - oprava pøipnutého panelu zobrazeného pod lištou */
.tab-content, #TabsToolbar {height: 19px !important;}

/* oprava špatného zarovnání textu u nìkterých vyskakovacích oken - napø. ikona "nástroje pro vývojáøe" */
.subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {padding: 7px!important;}

/* záložky - oprava nechtìného zvìtšení rozhraní na výšku pøi zaplnìní lišty se záložkami (pøi zobrazení ikony se seznamem zbývajících záložek) */
#PersonalToolbar .toolbarbutton-1 {--toolbarbutton-inner-padding: 0px!important;}

/* oprava vyhledávacího øádku, který pokud je v rozhraní pøítomen nežádoucím zpùsobem zvìtší rozhraní na výšku */
#search-container {padding-top: 0px!important;padding-bottom: 0px!important;margin-top: -3px!important;border-top-style: solid!important;border-top-width: 2px!important;}

/* najít na stránce - FF 69-79 */
.findbar-container {padding-top: 0px!important;padding-bottom: 0px!important;}

/* otevøené panely - vypnout rozmazání okrajù */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
    border: 1px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
}

:root {
    --lwt-tab-line-color: red !important;
}

/* otevøené panely - rozestupy */
.tab-content {padding-right: 2px!important;padding-left: 2px!important;}
tab.tabbrowser-tab:nth-child(1) > stack:nth-child(1) > hbox:nth-child(2) {margin-left: 5px!important;}

/* otevøené panely - ohranièení */
.tabbrowser-tab {border-inline-end: 1px solid !important;border-color: #FF00A3 !important;}

/* otevøené panely - odstranit prázdné místo na pravém konci */
#TabsToolbar .titlebar-spacer {display: none !important;}

/* otevøené panely - odstranit ikonu "seznam všech panelù" */
#alltabs-button {display: none !important;}

/* otevøené panely - posunutí textu */
.tab-throbber:not([pinned]), .tab-icon-pending:not([pinned]), .tab-icon-image:not([pinned]), .tab-sharing-icon-overlay:not([pinned]), .tab-icon-overlay:not([pinned]) {margin-inline-end: 2px!important;}

/* záložky - složka - vypnutí rozmazaných okrajù */
.menupopup-arrowscrollbox {box-shadow: none !important;}

/* celá obrazovka - zobrazit záložky */
#navigator-toolbox[inFullscreen] toolbar:not([collapsed="true"]) {visibility:visible!important;}

/* najít na stránce - zmìna barvy zaškrtávacích ikon */
.checkbox-check{border-color: #FF00A3 !important;}

/* najít na stránce - odstranit zavírací køížek a pøedchozí+další */
.close-icon.findbar-closebutton {display: none !important;}
.findbar-find-previous, .findbar-find-next {display: none !important;}

/* notifikaèní lišta+hlavní nabídka - pozice pod otevøené panely */
#tab-notification-deck{ -moz-box-ordinal-group: 2;}
#titlebar > #toolbar-menubar{ -moz-box-ordinal-group: 2;}

/* adresní øádek - odstranit ikonu hvìzdy na pravém konci */
#userContext-icons, #star-button-box {display: none !important;}

/* odstranit ikonu doplòkù */
#unified-extensions-button {display: none !important;}

/* adresní øádek */
#urlbar, .searchbar-textbox {font-size: 13px !important;min-height: 6px !important;padding-top: 0px !important;padding-bottom: 1px !important;padding-left: 0px !important;margin-left: 0px !important;}

/* adresní øádek - odstranit okraje */
.urlbarView{margin:0px 0px!important;width:100%!important}.urlbarView-row{padding:0px!important}

/* adresní øádek - vypnout rozmazání textu po stranách */
#urlbar:not([focused])[textoverflow="right"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input { mask-image: unset !important; }
#urlbar:not([focused])[textoverflow="left"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input { mask-image: unset !important; }

/* najít na stránce */
.browserContainer > findbar {-moz-box-ordinal-group: 0;font-size: 13px !important;max-heeight: 23px !important;padding-top: 0px !important;padding-bottom: 0px !important;transition: transform 0ms linear, opacity 0ms linear 0ms !important;border-top: 0px !important;border-bottom: 0px !important;}

/* záložky+kontextová nabídka */
#toolbarbutton, .bookmark-item {font-size: 12px !important;min-height: 6px !important;padding-top: 0px !important;padding-bottom: 0px !important;border-top: 0px !important;border-bottom: 0px !important;padding-left: 3px !important;padding-right: 3px !important;}
menupopup > menuitem, menupopup > menu {padding-top: 0px !important; padding-bottom: 0px !important;margin-right: 0px !important;margin-left: 0px !important;}
*|*:root {--arrowpanel-menuitem-padding: 0px 0px !important;margin-right: 0px !important;}

/* záložky - složka - odstranit okraje */
toolbarbutton menupopup[placespopup] {
  --panel-padding: 0px!important;
}

/*posuvník*/
.panel-subview-body{scrollbar-face-color: #FB7914;scrollbar-track-color: transparent !important;scrollbar-color: #FB7914 transparent !important;scrollbar-width: auto;}
#permList, scrollbar{scrollbar-face-color: #FB7914;scrollbar-track-color: transparent !important;scrollbar-color: #FB7914 transparent !important;scrollbar-width: auto;}

/* otevøené panely - vypnout rozmazání textu */
.tab-label-container[textoverflow]:not([pinned]) { mask-image: unset !important; }

/* otevøené panely - šipky - odstranit vnitøní okraje */
#scrollbutton-up {border-right: 0px !important;}
#scrollbutton-down {border-left: 0px !important;}

/* otevøené panely - odstranit køížek pro zavøení panelu ( panel se mùže zavøít mimo jiné i prostøedním tlaèítkem myši ) */
.tabbrowser-tab .tab-close-button {visibility: collapse !important;}

/* zmìna poøadí ovládacích prvkù - vyhledávací pole a ikony (horní), záložky (prostøední), otevøené panely (dolní) */
#titlebar{-moz-box-ordinal-group: 2 !important;}

/* otevøené panely - odstranit tlaèítka minimalizovat/obnovit/zavøít */
#TabsToolbar .titlebar-buttonbox-container {display: none !important;}

/* adresní øádek - zmenšit rozestupy */
.urlbarView-row-inner {padding-block: 0px !important;}

/* adresní øádek - vyskakovací menu - vypnout rozmazání okrajù */
menupopup, panel {--panel-shadow: none !important;}

/* záložky - složka - odstranit "otevøít vše v panelech" ( panely se mohou otevøít prostøedním tlaèítkem myši ) */
.openintabs-menuitem {display: none !important;}

/* adresní øádek - zmenšit "vyhledat pomocí" */
.urlbarView .search-one-offs {padding-top: 0px !important;padding-bottom: 0px !important;}

/* oøíznout uživatelské rozhraní o 5px vlevo a vpravo = odstranit okraje */
#navigator-toolbox {margin-left: -5px !important;margin-right: -5px !important;}

/* zmenšit rozestupy ikon doplòkù atd. */
#nav-bar toolbarbutton {margin-left: -5px !important;margin-right: -5px !important;margin-top: 1px !important;}

/* ostré hrany */
:root{--toolbarbutton-border-radius: 0 !important;--arrowpanel-menuitem-border-radius: 0 !important;--tab-border-radius: 0 !important;--subviewbutton-border-radius: 0 !important;--arrowpanel-border-radius: 0 !important;}

/* záložky - složka - odstranit separátor */
.openintabs-menuitem, .bookmarks-actions-menuseparator { display: none !important; }

/* najít na stránce - zvýraznìní "dosažen konec stránky, pokraèuje se od zaèátku" */
.findbar-container .find-status-icon[status="wrapped"] {display: none;}
.findbar-container .find-status-icon[status="wrapped"]
    ~ [anonid="find-status"].findbar-find-status {font-weight: bold;background: #FFA6C9;color: blue !important;}

/* najít na stránce - barvy pozadí a obrysu */
.findbar-textbox[status="notfound"] {color: #000000 !important;background-color: #eeeeee !important;border-color: #000000 !important;outline-color: red! important;}
.findbar-textbox {border-color: #000000 !important}

/* adresní øádek - vypnutí rozmazaných okrajù a zapnout ohranièení */
#urlbar[breakout][breakout-extend], #urlbar-background,
#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar[breakout] > #urlbar-input-container {border-color: none !important;box-shadow: none !important;}
#urlbar-background {border-color: var(--lwt-toolbar-field-background-color) !important;}

/* otevøené panely - zmenšit výšku lišty */
#titlebar {margin-bottom: 0px !important;}

/* záložky - øazení zprava - vypnuto */
/* #PlacesToolbarItems {display: flex !important;justify-content: right !important;}*/

/* otevøené panely - odstranit ikony - vypnuto */
/* .tabbrowser-tab .tab-icon-image {display: none !important;} */

/* Remove Page Actions Menu - vypnuto */
/* #pageActionButton {display: none !important;} */

/* záložky - složka - pozadí+okraj - vypnuto */
/* menupopup[placespopup]{-moz-appearance: none !important;border-radius: 0px !important;background-color: #FB7914 !important;color: #000000 !important;} */

/* adresní øádek - pokroèilé úpravy - vypnuto */
/* #urlbar,#searchbar {color: #ff0080 !important;transform: skewx(-22deg);border-radius: 5px !important;border: 0px solid #000000 !important;box-shadow: 0 1px 4px rgba(0, 0, 0, .05);height: 30px;} */

/* posuvník+barva pozadí - v pøípadì potøeby opravit na hbox, toolbox - vypnuto */
/* @-moz-document url(chrome://browser/content/browser.xhtml),url-prefix(chrome://browser/content/places/) {window, h.box, tool.box {background-color: #EEEEEE !important;scrollbar-color: #FB7914 transparent !important;}} */

/* odstranìní všech zbývajících ikon kromì adresního øádku a lišty s otevøenými panely - vypnuto
#urlbar-zoom-button {display:none!important}
#scrollbutton-up {display: none !important;}
#scrollbutton-down {display: none !important;}
#PanelUI-menu-button {display: none !important;}
#back-button {display: none !important;}
#forward-button {display: none !important;} */





/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 0px 0 !important;
}
#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 0px !important;
    border-bottom-width: 0 !important;
}
/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 0px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */

#TabsToolbar, #tabbrowser-tabs {
    --tab-min-height: 18px !important; /* otevøené panely - výška */
	margin-top: -1px !important; /* otevøené panely - posunutí */
	border-top: 0px !important;
	border-bottom: 0px !important;
}
    /* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar, 
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar #tabbrowser-tabs {
    --tab-min-height: 18px !important; /* otevøené panely - výška */
}
#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

    /* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
    /* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon, 
#TabsToolbar-customization-target .toolbarbutton-text, 
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Inactive tabs: Separator line style */

.tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
    border-right: 0px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, .20)) !important;
}
/* For dark backgrounds */
[brighttext="true"] .tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
    border-right: 0px solid var(--lwt-background-tab-separator-color, var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20))) !important;
}
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    border-radius: 0 !important;
}
/* Remove padding between tabs */
.tabbrowser-tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Override font-weight for tabs */

.tabbrowser-tab {
    font-weight: 700 !important;
}

/* Tweak Options as of 9/21/2021; Generated Wed Dec 22 2021 11:12:54 GMT+0100 (Støedoevropský standardní èas) */





/*** adresní øádek - vypnout animace a zvìtšení pøi jeho otevøení. BEGIN Firefox 77 (June 2, 2020) Override URL bar enlargement ***/

  /* Compute new position, width, and padding */

  #urlbar[breakout][breakout-extend] {
    top: 4px !important;
    left: 1px !important;
    width: 100% !important; /* adresní øádek - šíøka pøi otevøení */
    padding: 0px !important;
  }
  /* for alternate Density settings */
  [uidensity="compact"] #urlbar[breakout][breakout-extend] {
    top: 4px !important;
  }

  /* Prevent shift of URL bar contents */

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;;
  }

  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }

/*** END Firefox 77 (June 2, 2020) Override URL bar enlargement ***/







/* najít na stránce - detaily - až na konec */
.findbar-container > hbox:nth-child(1) {margin-bottom: 0px!important;} /* najít na stránce - posunutí */
.findbar-container {height: 25px!important;}

/* findbar.css | chrome://global/skin/findbar.css */

.findbar-container {
  margin-inline-start: 2px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

#panel-1-1 > vbox:nth-child(1) > findbar:nth-child(3) {
  border-top-width: 0px!important;
  border-bottom-width: 0px!important;
  border-bottom-style: solid!important;
  padding-bottom: 0px!important;
  padding-top: 0px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-textbox {
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  width: 215.667px!important;
  height: 23.6667px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-find-previous {
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-left: 2px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-find-next {
  padding-left: 0px!important;
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  padding-right: 0px!important;
  margin-right: 0px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-textbox {
  padding-left: 4px!important;
  padding-right: 4px!important;
  margin-bottom: 0px!important;
  border-bottom-style: solid!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-highlight {
  margin-left: 10px!important;
  margin-right: 0px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-match-diacritics {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

description.findbar-label {
  margin-left: 6px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-highlight > image:nth-child(1) {
  margin-right: 2px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-case-sensitive > image:nth-child(1) {
  margin-right: 2px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-match-diacritics > image:nth-child(1) {
  margin-right: 2px!important;
}

/* Element | chrome://browser/content/browser.xhtml */

.findbar-entire-word > image:nth-child(1) {
  margin-right: 2px!important;
}
